[Desktop Entry]
Type=Application
Exec=sudo /usr/bin/smartdre
Icon=/var/lib/app-info/icons/ubuntu-focal-main/64x64/cinnamon-control-center_cs-tablet.png
#Icon=/var/lib/app-info/icons/ubuntu-focal-main/64x64/xinput-calibrator_xinput_calibrator.png
Terminal=false
Name[es_ES]=SMARTBOARD_smartdre
Comment[es_ES]=Drivers pizarras SMARTBOARD
Categories=Education;System;Settings;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=1
NoDisplay=false
Hidden=false
