[Desktop Entry]
Type=Application
Exec=sudo /usr/bin/smartdre
Icon=/usr/share/icons/SMART_Board_Software.png
Terminal=false
Name[es_ES]=SMARTBOARD_smartdre Drivers
Comment[es_ES]=Drivers pizarras SMARTBOARD
Categories=Education;System;Settings;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=1
NoDisplay=false
Hidden=false
